body {
    @include roboto;
    color: $text-color;
    background-color: $bg-color;
}

img {
    max-width: 100%;
}

.page {
    display: flex;
    justify-content: center;
    &-title {
        margin: 0;
        color: $text-color;
        font-size: 30px;
        @include light;
        padding-bottom: 110px;
        position: relative;
        &:after {
            content: "";
            width: 68px;
            height: 2px;
            background-color: $hover-link;
            display: block;
            position: absolute;
            left: 50%;
            transform: translate(-50%, 55px);
        }
    }
}

@media (max-width: 768px) {
    .page {
        &-title {
            padding-bottom: 30px;
            &:after {
                display: none;
            }
        }
    }
}

















